<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>大貴と裕未の部屋</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>大貴と裕未の部屋</h1>
    </header>

    <main>
      <div class="top-wrapper">

      </div>
      <div class="contents-wrapper">

      </div>
      <div class="message-wrapper">

      </div>

    </main>

    <footer>

    </footer>
  </body>
</html>
